
#contentcolumn{
margin-right: 300px; /*Set right margin to RightColumnWidth*/
padding-right: 15px;
}

#rightcolumn{
float: left;
width: 300px; /*Width of right column*/
margin-left: -300px; /*Set left margin to -(RightColumnWidth) */
}



.contentcolumn-panel-1col
{

}

.contentcolumn-panel-2col
{

}

.contentcolumn-panel-left{
float: left;
width: 322px;
}

.contentcolumn-panel-right{
float: left;
width: 322px;
margin-left: 15px;
}
